<div class="flex flex-col items-center justify-start gap-3 w-full h-full">
  <!-- Ilustração -->
  <div class="img mb-4">
    <img src="/assets/ilustration.png" alt="" />
  </div>

  <!-- Título -->
  <div class="text-center text-[32px] font-semibold leading-[38.4px] text-[#414651]">
Crie o primeiro projeto
  </div>

  <!-- Texto descritivo -->
  <div class="text-center text-base leading-[22.4px] text-[#414651] max-w-md">
Clique no botão, e comece a indexar diversas coleções de forma conjunta e prática
  </div>

  <!-- Botão de ação -->
  <a
    [routerLink]="['/tabela-projetos']"
    class="inline-flex items-center justify-center px-5 h-12 mt-3 text-sm font-medium text-[#07080A] bg-[#F9CC13] border border-[#C7A30F] rounded-md shadow-sm cursor-pointer hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500 transition"
  >
    Comece um novo projeto
  </a>
</div>
