<div class="flex h-screen w-screen">
  <div class="w-full  flex justify-center items-center">
    <main class="w-full max-w-[32rem] mx-auto p-6">
      <div class="mt-7 bg-white">

        <div *ngIf="contaCriada" class="p-4 sm:p-7 text-center flex flex-col items-center">
                        <img src="assets/bloco.png" alt="Logo" height="83" width="85" loading="lazy" fetchpriority="auto">

          <h1 class="block mt-1 text-[20px] font-semibold text-gray-800">
            Confira o seu Email!
                    </h1>
                    <p class="mt-1 text-[14px] font-normal text-gray-500">
                      Uma nova senha foi enviada para: <br> <strong>{{ email }}</strong>.
          </p>
          <button routerLink="/login" type="submit" class="mt-10 w-full py-3 px-4 text-sm font-medium rounded-lg bg-[#F9CC13] text-white hover:bg-[#C7A30F] transition-all">
            Enviar novamente          </button>
            <div class="text-center mt-4">
              <p class="text-[14px] text-gray-500 flex items-center justify-center">
                <span class="mx-3">
                  <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-black-600">
                    <path d="M4.75 8.75L1.25 5.25L4.75 1.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
                <a routerLink="/login" class="text-black-600 hover:text-black-800 font-medium">Voltar ao login</a>
              </p>
                 <div class="text-center flex flex-col items-center">
             
              <p class="mt-8 text-[14px] font-normal text-gray-500">
                Caso não encontre o e-mail com a nova senha, verifique a sua caixa de Spam</p>
            </div>
        </div>
        </div>
        
        <div *ngIf="!contaCriada">
          <div class="p-4 sm:p-7">
            <div class="text-center flex flex-col items-center">
              <img src="assets/bloco.png" alt="Logo" height="83" width="85" loading="lazy" fetchpriority="auto">
              <h1 class="block mt-1 text-[20px] font-semibold text-gray-800">
                Esqueceu sua senha?
              </h1>
              <p class="mb-10 text-[14px] font-normal text-gray-500">
                Insira o seu e-mail cadastrado abaixo, e nós enviaremos uma nova senha para acesso</p>
            </div>

            <div class="mt-2">
              <div class="grid">
                <form (ngSubmit)="onSubmit()">
                  <div class="flex flex-col rounded-lg">
                    
                    <div class="relative w-full">
                      <input 
                        type="email" 
                        id="email" 
                        [(ngModel)]="email" 
                        name="email" 
                        placeholder="Email cadastrado" 
                        class="w-[400px] h-[46px] px-4 border shadow-sm text-sm font-medium text-black 
                               focus:outline-none focus:ring-2 rounded-[8px]"
                        [ngClass]="{ 
                          'border-gray-300 focus:ring-blue-500 focus:border-blue-500': !emailError, 
                          'border-red-500 focus:ring-red-500 focus:border-red-500': emailError 
                        }"
                        (blur)="validateEmail()" 
                        required
                      />
                      <p class="text-red-500 text-[14px] mt-1" *ngIf="emailError">{{ emailError }}</p>
                    </div>

                  </div>

                  <button type="submit" class="mt-4 w-full py-3 px-4 text-sm font-medium rounded-lg  bg-[#F9CC13] text-white hover:bg-[#C7A30F] transition-all">
                    Enviar nova senha
                  </button>

                  <div class="text-center mt-4">
                    <p class="text-[14px] text-gray-500 flex items-center justify-center">
                      <span class="mx-3">
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-black-600">
                          <path d="M4.75 8.75L1.25 5.25L4.75 1.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                      </span>
                      <a routerLink="/login" class="text-black-600 hover:text-blue-800 font-medium">Voltar ao login</a>
                    </p>
                  </div>
                </form>
                  <div class="text-center flex flex-col items-center">
             
              <p class="mt-8 text-[14px] font-normal text-gray-500">
                Caso não encontre o e-mail com a nova senha, verifique a sua caixa de Spam</p>
            </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>
  </div>
</div>


