.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  gap: 133px;

  position: absolute;
  width: 88px;
  height: 100%; /* Corrigido */
  left: 0;
  top: 0;

  background: #15181F;
  overflow: hidden; /* impede que elementos internos causem scroll */
}

.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 8px;

  position: absolute;
  width: 432px;
  height: 506px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Melhor prática para centralizar */

  overflow: hidden;
}
