/* Container principal */
.layout-wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar */
/* Sidebar ocupa espaço fixo */
app-side-bar {
  flex-shrink: 0;
}

/* Área principal */
.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;   /* centraliza horizontalmente */
  align-items: center;       /* centraliza verticalmente */
  background-color: #fff;
  overflow: hidden;
}

/* Componente central */
.create {
  width: 432px;
  height: 506px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
