<div class="h-full bg-white shadow-lg p-0 overflow-y-auto overflow-x-hidden border-l border-gray-200">
  <!-- Cabeçalho estilizado -->
<div
  class="flex justify-between items-center px-5 pt-8 pb-5 border-b border-[#F5F5F5] min-h-[100px]"
  style="width: 400px;"
>

    <!-- Título -->
    <div
      class="text-[#535862] text-[24px] font-semibold leading-[120%] tracking-[-1.4px] font-['DM Sans']"
    >
      Notificações
    </div>

    <!-- Botão de fechar -->
    <button
      class="flex justify-center items-center  w-12 h-12 border border-gray-300 shadow-sm rounded cursor-pointer"
      aria-label="Fechar painel"
      (click)="onClose()"
    >
      <!-- Ícone de fechar (X) -->
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 12L8 8M8 8L4 4M8 8L12 4M8 8L4 12" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </div>

  <!-- Lista de cards -->
  <ng-container  *ngFor="let notification of notifications">
    <app-notification-card
      [tipo]="notification.tipo"
      [titulo]="notification.titulo"
      [descricao]="notification.descricao"
      [data]="notification.data"
    >
    </app-notification-card>
  </ng-container>
</div>
