<div data-mark-new="true" [attr.data-state]="'new-' + tipo"
  class="self-stretch p-5 bg-[#F5F5F5] border-b border-[#E9EAEB] inline-flex flex-col justify-start items-end gap-3">

  <div class="w-96 flex flex-col justify-start items-start gap-1">
    <div class="inline-flex justify-start items-center gap-2">
      <!-- Ícone SVG -->
      <div class="w-6 h-6 relative">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12.0621 5.53451C12.3843 4.66389 13.6157 4.66389 13.9379 5.53451L15.5413 9.86785C15.6426 10.1416 15.8584 10.3574 16.1321 10.4587L20.4655 12.0621C21.3361 12.3843 21.3361 13.6157 20.4655 13.9379L16.1321 15.5413C15.8584 15.6426 15.6426 15.8584 15.5413 16.1321L13.9379 20.4655C13.6157 21.3361 12.3843 21.3361 12.0621 20.4655L10.4587 16.1321C10.3574 15.8584 10.1416 15.6426 9.86785 15.5413L5.53451 13.9379C4.66389 13.6157 4.66389 12.3843 5.53451 12.0621L9.86785 10.4587C10.1416 10.3574 10.3574 10.1416 10.4587 9.86785L12.0621 5.53451Z"
            [attr.fill]="corPrimaria" />
          <path
            d="M5 1L6.08036 3.91964L9 5L6.08036 6.08036L5 9L3.91964 6.08036L1 5L3.91964 3.91964L5 1Z"
            [attr.fill]="corPrimaria" />
        </svg>
      </div>

      <!-- Texto "Nova" -->
      <div class="text-xs font-semibold font-['Inter'] leading-none"
           [ngClass]="{
             'text-Secondary-Pure': tipo === 'info',
             'text-Green-600': tipo === 'success',
             'text-Red-600': tipo === 'error'
           }">
        Nova
      </div>
    </div>

    <!-- Título -->
    <div class="self-stretch text-[#15181F] text-sm font-medium font-['Inter'] leading-tight">
      {{ titulo }}
    </div>
  </div>

  <!-- Descrição -->
  <div class="self-stretch text-[#414651] text-sm font-normal font-['Inter'] leading-tight">
    {{ descricao }}
  </div>

  <!-- Data -->
  <div class="self-stretch inline-flex justify-start items-center gap-2">
    <div class="w-2 h-2 relative">
      <div class="w-2 h-2 absolute rounded-full"
           [ngClass]="{
             'bg-Secondary-700': tipo === 'info',
             'bg-Green-700': tipo === 'success',
             'bg-Red-700': tipo === 'error'
           }"></div>
    </div>
    <div class="text-[#717680] text-xs font-normal font-['Inter'] leading-none">
      {{ data }}
    </div>
  </div>
</div>
