/* CSS PARA O SIDEBAR EXPANDIDO E COMPACTADO */

.sidebar-wrapper {
  height: 800px;
  padding-top: 32px;
  padding-bottom: 32px;
  background: var(--Gray-800, #15181F);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: width 0.3s ease;
  z-index: 100;
}

.sidebar-wrapper.expanded {
  width: 254px;
}

.sidebar-wrapper.collapsed {
  width: 88px;
}

/* HEADER */
.sidebar-header {
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo-box {
  width: 48px;
  height: 48px;
  padding: 4px;
  background: var(--Primary-Pure, #F9CC13);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heimdal-logo {
  width: 100%;
  height: 100%;
  background-image: url('/assets/heimdal.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.title-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.title {
  color: var(--Gray-100, #FDFDFD);
  font-size: 18px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
  line-height: 21.6px;
}

.subtitle {
  color: var(--Gray-400, #D5D7DA);
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 19.6px;
}

.section-label {
  padding: 0px 20px;
  align-self: flex-start;
  color: var(--Gray-400, #D5D7DA);
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  margin-top: -97px;

  line-height: 16.8px;
}

.nav-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -109px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 56px;
  padding: 8px 0 8px 20px;
  width: 100%;
  cursor: pointer;
}

.sidebar-wrapper.collapsed .nav-item {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  width: 88px;
  gap: 2px;
}

.nav-item.active {
  background: var(--Primary-900, #322904);
  border-left: 2px solid var(--Primary-Pure, #F9CC13);
}

.icon-box {
  width: 24px;
  height: 24px;
  position: relative;
}

.nav-item .label {
  color: var(--Gray-200, #F5F5F5);
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 19.6px;
}

.sidebar-wrapper.collapsed .nav-item .label {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
}

.nav-item.active .label {
  color: var(--Primary-Pure, #F9CC13);
}

.notification .badge {
  width: 8px;
  height: 8px;
  background: var(--Gray-200, #F5F5F5);
  border-radius: 9999px;
  position: absolute;
  top: 24px;
  left: 36px;
}

.sidebar-wrapper.collapsed .notification .badge {
  top: 15px;
  left: 48px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 11px;
  padding: 0 20px;
  height: 147px;
  width: 100%;
}

.sidebar-wrapper.collapsed .user-info {
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 40px;
  height: 40px;
  background: var(--Primary-200, #FDEBA1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: var(--Primary-700, #957A0B);
}

.user-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
}

.user-name {
  color: var(--Gray-200, #F5F5F5);
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 19.6px;
}

.user-link {
  color: var(--Gray-400, #D5D7DA);
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 16.8px;
}

.logout {
  padding: 8px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;
  height: 56px;
}

.sidebar-wrapper.collapsed .logout {
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}

.logout-label {
  color: var(--Gray-200, #F5F5F5);
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 16.8px;
}
