<!-- Contêiner principal do toast, exibido condicionalmente com base na propriedade 'visible' -->
<div
  *ngIf="visible"
  [ngClass]="{
    'bg-[#054F31]': type === 'success', 
    'bg-[#7A271A]': type === 'error'
  }"
  class="fixed top-5 right-5 z-50 flex items-center justify-between min-w-[250px] max-w-[400px] px-[12px] py-2 gap-[12px] rounded-[4px] shadow-[0_12px_16px_-4px_rgba(52,54,54,0.08)] transition-all duration-300"
  role="alert"
>
  <!-- Icon + Text -->
  <div class="flex items-center gap-2 flex-grow">
    <!-- Circle icon -->
    <div
      [ngClass]="{
        'bg-[#027A48]': type === 'success',
        'bg-[#B42318]': type === 'error'
      }"
      class="w-5 h-5 rounded-full flex items-center justify-center shadow-[0_20px_24px_-4px_rgba(52,54,54,0.08)] flex-shrink-0"
    >
      <!-- Success Icon -->
      <svg
        *ngIf="type === 'success'"
        xmlns="http://www.w3.org/2000/svg"
        class="w-[12px] h-[12px]"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="#FFFFFF"
          stroke-width="1.4"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M5 13l4 4L19 7"
        />
      </svg>

      <!-- Error Icon -->
      <svg
        *ngIf="type === 'error'"
        xmlns="http://www.w3.org/2000/svg"
        class="w-[12px] h-[12px]"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="#FFFFFF"
          stroke-width="1.4"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 6l12 12M6 18L18 6"
        />
      </svg>
    </div>

    <!-- Toast Text -->
  <span class="text-white text-sm font-normal font-inter leading-[140%] whitespace-normal">
  {{ message }}
</span>
  </div>

  <!-- Divider -->
  <div class="h-[25px] w-px bg-white/20 flex-shrink-0"></div>

  <!-- Close Button -->
  <button
    type="button"
    (click)="close()"
    class="flex items-center justify-center w-6 h-6 hover:opacity-80 transition flex-shrink-0"
    aria-label="Fechar"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-[12px] h-[12px]"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="#D5D7DA"
        stroke-width="1.4"
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 6l12 12M6 18L18 6"
      />
    </svg>
  </button>
</div>
