:root {
  --gray-200: #F5F5F5;
  --gray-300: #E9EAEB;
  --gray-500: #717680;
  --gray-600: #535862;
  --gray-700: #414651;
  --secondary-100: #D6DBF7;
  --secondary-200: #ADB7F0;
  --secondary-pure: #314CD9;
  --success-300: #12B76A;
  --success-400: #027A48;
  --error-300: #F04438;
  --warning-300: #F79009;
  --neutral-white: #fff;
}

body {
  font-family: Inter, sans-serif;
}

.container {
  width: 1375px;
  height: 100%;
  background: var(--neutral-white);
  border-radius: 8px;
  outline: 1px solid var(--gray-200);
  display: inline-flex;
}

.menu-lateral {
  display: inline-flex;
  flex-direction: column;
}

.menu-lateral .linha {
  height: 64px;
  border-bottom: 1.4px solid var(--gray-200);
}

.item {
  height: 64px;
  padding: 16px 20px 16px 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.item::before {
  content: '';
  width: 8px;
  height: 4px;
  display: inline-block;
}



.coluna {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.coluna.nome-projeto {
  width: 333px;
}

.coluna.descricao {
  width: 444px;
}

.coluna.indexacao {
  width: 385px;
}

.titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  padding-right: 32px;
  border-bottom: 1.4px solid var(--gray-200);
  font-size: 12px;
  font-weight: 600;
  color: var(--gray-600);
}

.icone-menor {
  width: 16px;
  height: 16px;
  border: 1px solid var(--gray-600);
  border-radius: 4px;
}

.linha-texto {
  height: 64px;
  padding-right: 32px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: var(--gray-700);
}

.coluna.descricao .linha-texto {
  font-weight: 400;
}

.botao-filtrar {
  background: var(--neutral-white);
  border: 0.8px solid var(--gray-300);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 600;
  color: var(--gray-700);
  display: flex;
  align-items: center;
  gap: 4px;
}

.icones-finais {
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.icone-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
  gap: 12px;
  width: 48px;
  height: 64px;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
  margin-top: -2px;
  margin-left: 12px;
}

.botao-filtrar {
  display: flex;
  height: var(--gap-width-height-24, 24px);
  padding: 4px var(--gap-width-height-8, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--gap-width-height-4, 4px);
  border-radius: var(--border-radius-x2, 4px);
  border: var(--width-small, 0.8px) solid var(--gray-300, #E9EAEB);
  background: var(--neutral-white, #FFF);
  box-shadow: 0px 1px 2px 0px rgba(52, 54, 54, 0.05);
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16.8px;
  color: var(--gray-700, #414651);
  cursor: pointer;
}

.botao-filtrar .icone {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
}

.botao-filtrar .icone.esquerda::before {
  content: "";
  position: absolute;
  width: 10.67px;
  height: 10.92px;
  left: 2.67px;
  top: 2.67px;
 
}

.botao-filtrar .icone.direita::before {
  content: "";
  position: absolute;
  width: 5.33px;
  height: 2.67px;
  left: 5.33px;
  top: 6.67px;

}

.icones-container {
  width: 100px;
  height: 100%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.icone {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}

.icone-preenchido {
  width: 14px;
  height: 18px;
  position: absolute;
  left: 5px;
  top: 3px;
 
}

.icone-vazio {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 3px;
  top: 3px;

}

.icone-vazio-menor {
  width: 16px;
  height: 18px;
  position: absolute;
  left: 4px;
  top: 3px;
 
}

.svg-icone {
  width: 24px;
  height: 24px;
}
.pagination-container {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  margin-top: 12px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-text {
  color: var(--gray-700, #414651);
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 19.6px;
}

.pagination-controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.pagination-status {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.pagination-box {
  width: 32px;
  height: 32px;
  background: var(--gray-200, #F5F5F5);
  border-radius: 4px;
  padding: 4px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.pagination-current {
  color: var(--gray-700, #414651);
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 19.6px;
}

.pagination-pages {
  color: var(--gray-700, #414651);
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 19.6px;
}

.pagination-button {
  width: 32px;
  height: 32px;
  padding: 4px 8px;
  background: var(--neutral-white, #ffffff);
  box-shadow: 0px 1px 2px rgba(52, 54, 54, 0.05);
  border-radius: 4px;
  outline: 0.8px solid var(--gray-300, #E9EAEB);
  outline-offset: -0.8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
}

.arrow-icon {
  width: 2.67px;
  height: 5.33px;
  position: absolute;
  left: 6.67px;
  top: 5.33px;
 
}
