<div class="page-wrapper">
  <app-side-bar></app-side-bar>

  <div class="main-content">
    <app-header-page [type]="'project'"></app-header-page>

    <div class="content-wrapper">
      <app-tabela
        [data]="projects"
        [type]="'project'"
        [totalItems]="totalItems"
        [totalPages]="totalPages"
        [currentPage]="currentPage"
        (pageChange)="onPageChange($event)"
  (openRemove)="showRemoveModal = true"
        
      ></app-tabela>
    </div>
  </div>
</div>
<div *ngIf="showRemoveModal" class="modal"></div>
<app-modal-remove
  *ngIf="showRemoveModal"
  [type]="'index'"
  (clickOutside)="closeModal()"
></app-modal-remove>