.sidebar{
    /* sidebar_navigation */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding: 32px 0px;
gap: 133px;

position: absolute;
width: 88px;
height: 100%px;
left: 0px;
top: 0px;

background: #15181F;

}

.tabela{
    /* table */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 1256px;
height: 576px;
left: 136px;
top: 120px;


}
.header{
    /* header */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 32px 48px 40px;
gap: 32px;

position: absolute;
width: 1352px;
height: 120px;
left: 88px;
top: 0px;


}