<div class="form-border-wrapper border- border-gray-300 rounded-lg bg-white p-6">
  <form [formGroup]="form" class="container flex flex-col items-center gap-12 w-full bg-white shadow-sm rounded-tl-lg">
    <div class="basic-container flex flex-col items-start p-10 pt-8 gap-10 w-full relative isolate">
      <div class="title flex flex-col gap-0.5 w-full">
        <h3 class="w-full text-gray-600 text-xl font-semibold leading-[120%] tracking-[-1px]">Informações básicas</h3>
        <p class="w-full text-gray-500 text-sm font-medium leading-[140%]">Insira o nome, a descrição e o URL da coleção</p>
      </div>
      <div class="form flex flex-row items-start gap-6 w-full">
        <div class="col-form flex flex-col items-start gap-6 flex-1">
          <div class="text-field flex flex-col items-start gap-2 w-full">
          <label class="input-label w-full text-gray-700 text-sm font-medium leading-[140%]">Nome da coleção</label>
<div class="input flex flex-row items-center p-3 w-full bg-white border-[1.4px] border-gray-200 shadow-xs rounded focus-within:border-blue-500">
  <div class="left_content flex flex-row items-center gap-2 flex-1">
    <input type="text" formControlName="name" class="w-full text-black text-sm font-medium leading-[140%] bg-transparent outline-none" placeholder="Coleção 1">
  </div>
</div>
          </div>
          <div class="text-field flex flex-col items-start gap-2 w-full">
            <label class="input-label w-full text-gray-700 text-sm font-medium leading-[140%]">URL ID</label>
<div class="input flex flex-row items-center p-3 w-full bg-white border-[1.4px] border-gray-200 shadow-xs rounded focus-within:border-blue-500">
              <div class="left_content flex flex-row items-center gap-2 flex-1">
                <input type="text" formControlName="identifier" class="w-full text-black text-sm font-medium leading-[140%] bg-transparent outline-none" placeholder="/URL_ID">
              </div>
            </div>
          </div>
        </div>
        <div class="text-field flex flex-col items-end gap-2 w-[458px]">
          <label class="input-label w-full text-gray-700 text-sm font-medium leading-[140%]">Descrição</label>
<div class="input flex flex-row items-center p-3 w-full bg-white border-[1.4px] border-gray-200 shadow-xs rounded focus-within:border-blue-500">
            <div class="left_content flex flex-row items-start gap-2 flex-1">
              <textarea formControlName="description" class="w-full h-[124px] text-black text-sm font-medium leading-[140%] bg-transparent outline-none resize-none" placeholder="A coleção 1, sumariza os dados..."></textarea>
            </div>
          </div>
          <span class="support-text text-gray-500 text-xs font-normal leading-[140%]">{{ descriptionLength }}/500 caracteres</span>
        </div>
      </div>
    </div>
    <div class="divider w-[956px] border-t border-gray-200 mx-auto"></div>
    <div class="basic-container flex flex-col items-start p-10 pt-8 pb-14 gap-10 w-full">
      <div class="title flex flex-col gap-0.5 w-full">
        <h3 class="w-full text-gray-600 text-xl font-semibold leading-[120%] tracking-[-1px]">Sobre a indexação</h3>
        <p class="w-[280px] text-gray-500 text-sm font-medium leading-[140%]">Selecione o tipo de indexação e o modelo</p>
      </div>
      <div class="form flex flex-row items-start gap-6 w-full">
        <div class="text-field flex flex-col items-start gap-2 w-[458px]">
          <label class="input-label w-full text-gray-700 text-sm font-medium leading-[140%]">Tipo de indexação</label>
          <div class="input flex flex-row items-center p-3 w-full bg-white border-[1.4px] border-gray-200 shadow-xs rounded">
            <div class="left_content flex flex-row items-center gap-2 flex-1">
              <select formControlName="indexationType" class="w-full text-gray-400 text-sm font-medium leading-[140%] bg-transparent outline-none">
                <option value="" disabled selected>Selecione</option>
                <option *ngFor="let type of indexationTypes" [value]="type">{{ type }}</option>
              </select>
            </div>
            <div class="chevron-down w-6 h-6"></div>
          </div>
        </div>
        <div class="text-field flex flex-col items-start gap-2 w-[458px]">
          <label class="input-label w-full text-gray-700 text-sm font-medium leading-[140%]">Modelo</label>
          <div class="input flex flex-row items-center p-3 w-full bg-white border-[1.4px] border-gray-200 shadow-xs rounded">
            <div class="left_content flex flex-row items-center gap-2 flex-1">
              <select formControlName="model" class="w-full text-gray-400 text-sm font-medium leading-[140%] bg-transparent outline-none">
                <option value="" disabled selected>Selecione</option>
                <option *ngFor="let model of models" [value]="model">{{ model }}</option>
              </select>
            </div>
            <div class="chevron-down w-6 h-6"></div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>