.page-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}

.content-wrapper {
  padding: 0 24px;
  height: calc(100vh - 120px); /* ajuste conforme o header fixo */
  overflow-y: auto;
  box-sizing: border-box;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9998;
}