
/* Header fixo */
app-header-page {
  flex-grow: 1;
  overflow-y: auto;
  padding:  48px;
  max-width: calc(1440px - 254px);
  margin-left: 254px;
  box-sizing: border-box;
}

/* Container da tabela */
.content-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 48px;
  margin-left: 254px;
  box-sizing: border-box;
}
